.clear {
  clear: both;
}
a {
  color: #b3567b;
  text-decoration: none;
}
a:hover {
  color: #b3567b;
  text-decoration: underline;
}
h1, h2, h3 {
  font-weight: 200;
}
h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.2em;
}
h1 {
  margin-top: 50px;
}
html {
  background: #000000 url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 200;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}
body .main {
  margin: 0 auto;
  width: 500px;
  min-height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
}
body .main .header {
  position: relative;
  height: 150px;
}
body .main .header .logo {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 300px;
  height: 101px;
  background: url(../img/logo.png) top right no-repeat;
}
body .main .navigation {
  height: 35px;
  list-style: none;
  margin: 20px;
  padding: 0;
}
body .main .navigation li {
  margin: 0;
  padding: 0;
  float: left;
  border-right: 1px solid black;
}
body .main .navigation li > a {
  display: block;
  float: left;
  padding: 10px 20px;
  color: black;
  font-size: 15px;
  line-height: 15px;
  text-decoration: none;
}
body .main .navigation li:hover, body .main .navigation li.selected {
  border-color: #b3567b;
}
body .main .navigation li:hover > a, body .main .navigation li.selected > a {
  color: #b3567b;
}
body .main .content {
  padding: 20px 40px;
  text-align: justify;
  text-justify: newspaper;
}
body .main .content h1:first-child {
  margin-top: 0;
}
body .main .content li {
  text-align: left;
}
body .main .title {
  display: block;
  width: 500px;
  margin-top: 30px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}
html, body {
  height: 100%;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  html {
    background-attachment: scroll;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
  }
}
