.clear {
  clear: both;
}
a {
  color: #555;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1, h2, h3 {
  font-weight: 200;
}
h1 {
  margin-top: 50px;
}
body {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 200;
  padding: 0;
  margin: 0;
  background: #000000 url(../img/bg.jpg) center center no-repeat;
  background-size: cover;
  background-position: fixed;
}
body .main {
  margin-left: 300px;
  width: 500px;
  min-height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}
body .main .header {
  position: relative;
  height: 140px;
}
body .main .header .logo {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 300px;
  height: 101px;
  background: url(../img/logo.png) top right no-repeat;
}
body .main .navigation {
  height: 35px;
  list-style: none;
  margin: 20px 0;
  padding: 0;
}
body .main .navigation li {
  margin: 0;
  padding: 0;
  float: left;
  border-right: 1px solid black;
}
body .main .navigation li > a {
  display: block;
  float: left;
  padding: 10px 20px;
  color: black;
  font-size: 15px;
  line-height: 15px;
  text-decoration: none;
}
body .main .navigation li:hover, body .main .navigation li.selected {
  border-color: #b3567b;
}
body .main .navigation li:hover > a, body .main .navigation li.selected > a {
  color: #b3567b;
}
body .main .content {
  padding: 20px;
  text-align: justify;
  text-justify: newspaper;
}
html, body {
  height: 100%;
}
